*{
    font-family: 'Kanit',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ิbody{
    background-color: aliceblue;
    color: #333;
    line-height: 1.6;
}
.container{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
}
.profile-card{
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.backgroundhearder-nav{
    background:linear-gradient(to  right,rgb(1, 70, 197),rgba(15, 121, 241, 0.822));
    color:#ffffff;
    text-align: center;
    padding: 30px 10px;
}
.profile-header{
    margin:10px;
}
.welcome-text{
    margin: 10px;
}
.nav{
    margin-top: 20px;
}
.nav-layout{ 
    display: flex;
    justify-content: center;
    gap:20px;
}
.nav-layout a{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    color:#fff;
    font-weight: 50px;
    display: inline-block;
    
}
.nav-layout a:hover{
    background: white;
    color:#2294ff;

}

/*โปรไฟล์*/ 

.backgroundprofile{
    background:white;
    color:#333;
    display: flex;
    padding: 80px 50px;
}
#profile{
    display: flex;
}
.profile-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.avatar{
    border:3px solid rgb(255, 255, 255);
    box-shadow: 2px 4px 5px rgb(105, 105, 105);
    border-radius: 50%;
    flex-wrap: wrap;
    gap: 50%;
    margin-left: 40px;

    
}
.profile-text h2{
    color: rgb(0, 71, 202);
    padding-left: 40%; 
    margin-block: 10px;
}
.backgroundname p{
    margin-bottom: 10px;
    overflow: auto;
    margin-left: 60px;
}
.backgroundname a{
    text-decoration: none;
    color:rgb(12, 158, 255);
}













.seperator{
    border: 1px solid rgb(0, 72, 155);
    box-shadow: 0px 1px 2px rgb(173, 173, 173);
}

   
   