*{
    font-family: 'Kanit',sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ิbody{
    background-color: aliceblue;
    color: #333;
    line-height: 1.6;
}
.container{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
}
.profile-card{
    background: #fff;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
.backgroundhearder-nav{
    background:linear-gradient(to  right,rgb(1, 70, 197),rgba(15, 121, 241, 0.822));
    color:#ffffff;
    text-align: center;
    padding: 30px 10px;
}
.profile-header{
    margin:10px;
}
.welcome-text{
    margin: 10px;
}
.nav{
    margin-top: 20px;
}
.nav-layout{ 
    display: flex;
    justify-content: center;
    gap:20px;
}
.nav-layout a{
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    color:#fff;
    font-weight: 50px;
    display: inline-block;
    
}

.nav-layout a:hover{
    background: white;
    color:#2294ff;

}

/*โปรไฟล์*/ 

.backgroundprofile{
    background:white;
    color:#333;
    display: flex;
    padding: 80px 50px;
}
#profile{
    display: flex;
}
.profile-row{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.avatar{
    width: 200px;
    height: 230px;
    border:3px solid rgb(255, 255, 255);
    box-shadow: 2px 4px 5px rgb(0, 35, 80);
    border-radius: 10%;
    flex-wrap: wrap;
    gap: 50%;
    margin-left: 40px;  
}
.avatar:hover{
    transform: scale(1.1) translate(3px);
}
.profile-text h2{
    text-align: center;
    margin-bottom: 30px;
    margin-left: 100px;
  
}
.profile-text h2{
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgb(0, 27, 68);
    display: inline-block;
    border: 1px solid;
    border-radius: 17px;
    padding: 5px;
    background:linear-gradient(to top,rgb(1, 70, 197),rgb(15,121, 241, 0.841));
    box-shadow: 2px 2px 5px rgba(0,27,68);  
}
.profile-text h2:hover{
    transform: translateY(-3px);
}
.backgroundname p{
    margin-bottom: 10px;
    overflow: auto;
    margin-left: 60px;
}
.backgroundname a{
    text-decoration: none;
    color:rgb(12, 158, 255);
}

/*ประวัติดารศึคกาา*/ 
.education{
    text-align: center;
}
.education h2{
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgb(0, 27, 68);
    padding-bottom: 15px 10px;
    display: inline-block;
    border: 1px solid;
    border-radius: 17px;
    padding: 5px;
    background:linear-gradient(to top,rgb(1, 70, 197),rgb(15,121, 241, 0.841));
    box-shadow: 2px 2px 5px rgba(0,27,68);
}
.education h2:hover{
    transform: translateY(-3px);
}
.style-table{
    width: 100%;
    text-align: center;
   padding: 10px;
}
.style-table tr,th{
    padding: 5px 10px;
    border: 1px solid gray;
    border-left: none;
    border-right: none; 
       
     
}
.style-table th{
    border-top: 1px solid rgba(128, 128, 128, 0.089);
    border-bottom: 1px solid;
     color:#046ac9;
    background: #eeeeee93;
}
.style-table td{
    border-bottom: 1px solid rgba(128, 128, 128, 0.301);
}
/*ความสนใจ*/

#Interest h2{
    margin-top: 10px;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgb(0, 27, 68);
    display: inline-block;
    border: 1px solid;
    border-radius: 17px;
    padding: 5px;
    background:linear-gradient(to top,rgb(1, 70, 197),rgb(15,121, 241, 0.841));
    box-shadow: 2px 2px 5px rgba(0,27,68); 
}
#Interest {
    text-align: center;
    background: linear-gradient(to top,rgb(2, 71, 173),rgb(28, 145, 255));
}
#Interest ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    

}
#Interest li{
    margin-bottom: 20px;
    color:white;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    padding: 7px ;
    border-radius: 15px;
    background: rgba(66, 164, 255, 0.247);
    box-shadow: 1px 2px 3px rgb(1, 65, 126);
}
#Interest h2:hover{
    transform: translateY(-3px);
}

/*ข้อมูลติดต่อก*/
#Contact {
  text-align: center;
   background: linear-gradient(to top,rgb(2, 71, 173),rgb(28, 145, 255));
}
.contact-info p{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
.contact-info ul{
    display: flex;
    justify-content: center;
    gap:50px;
}
.contact-info li{
    margin-bottom: 20px;
    color:white;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    padding: 7px ;
    border-radius: 15px;
    background: rgba(66, 164, 255, 0.247);
    box-shadow: 1px 2px 3px rgb(1, 65, 126);  
}
.contact-info h2:hover{
    transform: translateY(-3px);
}

.contact-info a{
    text-decoration: none;
    color:white;
 
}
.contact-info a:hover{
      background: white;
    color:#2294ff;
}


#Contact h2{
     margin-top: 10px;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgb(0, 27, 68);
    display: inline-block;
    border: 1px solid;
    border-radius: 17px;
    padding: 5px;
    background:linear-gradient(to top,rgb(1, 70, 197),rgb(15,121, 241, 0.841));
    box-shadow: 2px 2px 5px rgba(0,27,68); 
}
/*คำเเนะนำเว้บ*/
#feedback {
    text-align: center;
    background: #dadada2d;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 1px 2px 5px rgb(0, 45, 97);
    
}
#feedback form{
    text-align: left;
    padding: 10px;
}
#feedback h3{
    text-align: center;
    
}
#feedback h3:hover{
    transform: translateY(-3px);
}
#feedback h3{
    margin-bottom: 10px;
    margin-top: 20px;
    color:rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgb(0, 27, 68);
    display: inline-block;
    border: 1px solid;
    border-radius: 17px;
    padding: 5px;
    background:linear-gradient(to top,rgb(1, 70, 197),rgb(15,121, 241, 0.841));
    box-shadow: 2px 2px 5px rgba(0,27,68); 
}
input[type="text"],textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid gray;
    box-shadow: 1px 1px 3px rgb(0, 42, 104);
    
}
input[type="submit"]{
   font-size: 100%;
   color:white;
   background: #046ac9;
   border: 1px solid rgb(238, 238, 238);
   box-shadow: 1px 1px 3px rgb(1, 68, 168);
   border-radius: 15px;
   margin-top: 10px;
   padding: 5px;
}
input[type="submit"]:hover{
    transform: translateY(-3px);
}

/*foter*/
.footer-text{
    text-align: center;
}
.footer-text p{
    
    color: #046ac9;
    margin-top: 10px;
    margin-bottom: 10px;
}
.social-links{
    gap:20px;
    margin-bottom: 10px;
}








.seperator{
    margin: 20px;
    border: 0.5px solid rgb(151, 203, 247);
   
}

   
   