@media (max-width: 768px){ }

body{
    background-color: rgb(224, 224, 224);
    font-family: cursive;
    line-height: 1.3%;
   
}


.container{
    background-color: white;
    border-radius: 10px;
    margin: 10px 20px;
    
}

.profile-header h1{
    text-shadow: 0px 4px 0px rgb(104, 7, 7);
    color: white;
    font-family: monospace;
    font-size: 40px;
    text-align: center;
    padding: 10px 20px;


}

.welcome-text{
    text-shadow: 0px 2px 0px rgba(104,7,7);
}

.backgroundhearder-nav{
    color: white;
    font-size: 20px;
    background-color: rgb(209, 6, 6);
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px;
    margin:10px;   
}

.nav-layout{
    
    gap: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.nav-layout a:hover{
    background-color: aquamarine;
    transform: translateY(-2px)
}

.profile{
    
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 0px 2px rgb(129, 4, 4);
}
.interest{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 0px 2px rgb(129, 4, 4);
}
.contact{
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 2px 0px 2px rgb(129, 4, 4);
}
.seperator{
    background-color: rgba(10, 10, 10, 0.103);
    padding: 1px;
    margin: 10px;   
}
/* สิ้นสุด hearder เเละ nav */


/*เริ่ม section 1 รูปภาพ ข้อมูลส่วนตัว */
#profile{
    display: flex;
   
}

.backgroundprofile{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px 20px;
    margin:10px
    
}
.avatar{
    width: 240px;
    height: 290px;
    border-radius: 10px;
    box-shadow: 3px 5px 5px rgb(83, 1, 1);
}

.profile-row{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color:rgb(39, 2, 2);
    margin: 10px;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}
.profile-text p {
   
    font-size: 19px;
    padding: 10px;
   
}
.profile-text h2{
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 10px rgb(184, 0, 0);
    box-shadow: 1px 2px 5px rgb(128, 3, 3);
    background-color: rgb(156, 3, 3);
    padding: 20px 10px;
    border-radius: 20px;
    display: inline-flex;
   
}
.profile-text h2:hover{
    background-color: rgb(255, 148, 148);
    transform: translateX(-7px);
}
.backgroundname{
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 5px 10px rgb(116, 2, 2);
}

/*ประวัติการศึกกา*/

.backgroundeducation{
    background-color: rgba(209,6,6);
    border-radius: 10px;
    padding: 20px 20px;
    margin:10px
}
.education{
    color: rgb(197, 3, 3);
    text-shadow: 0px 3px 10px rgb(165, 164, 164);
    background-color: rgb(241, 255, 255);
    border-radius: 30px;
    padding: 3px 3px;
    text-align: left;
    padding-left: 5px;
    display: flex;
    display: inline-block;
    box-shadow: 1px 2px 5px rgb(95, 2, 2);

    
}
.education:hover{
    background-color: rgb(255, 148, 148);
    transform: translateX(10px);
   
    
}
table{
    width: 100%;
    background-color: rgb(180, 4, 4);
    box-shadow: 3px 3px 5px rgb(253, 199, 199);
    border-collapse: collapse;
    margin: 20px 0px;
    padding: 10px 10px;
}
thead tr,th{
    font-size: 20px;
    color: rgb(184, 4, 4);
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 2px 10px rgb(206, 206, 206);
    border: 3px solid rgb(185, 5, 5);
    
    
}
thead tr:hover{
    cursor: pointer;
    transform: translate(3px)
}
tbody tr,td{
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding-left: 40px;
    text-shadow: 0px 2px 0px rgb(77, 2, 2);
    border: 3px solid rgb(255, 250, 250);
}




